[path]
root = "${builtin_root}"
build = "${builtin_root}/build"
assets = "${builtin_root}/assets"
sources = "${builtin_root}/sources"
docs = "${builtin_root}/docs"
tools = "${builtin_root}/tools"
third = "${builtin_root}/sources/third"
libs = "${builtin_root}/sources/libs"
wrappers = "${builtin_root}/sources/wrappers"
tests = "${builtin_root}/tests"
lib_core = "${path.libs}/core"
lib_input = "${path.libs}/input"
lib_renderer = "${path.libs}/renderer"
lib_system = "${path.libs}/system"
lib_resources = "${path.libs}/resources"
lib_ui = "${path.libs}/ui"


[command.autoformat]
clang_format_style_file = "${path.tools}/.clang-format"
min_version = "21.1"
exts = [".cpp", ".hpp", ".h", ".c", ".inl", ".m", ".mm"]
include = [
    "${path.lib_core}",
    "${path.lib_input}",
    "${path.lib_renderer}",
    "${path.lib_system}",
    "${path.lib_resources}",
    "${path.lib_ui}",
    "${path.wrappers}/sandbox",
]


[command.collect_sources]
exts = [".cpp", ".hpp", ".c", ".h", ".inl", ".mm", ".m"]
test_exts = [".test.cpp", ".test.hpp"]
collect_paths = [
    "${path.lib_core}",
    "${path.lib_input}",
    "${path.lib_renderer}",
    "${path.lib_system}",
    "${path.lib_resources}",
    "${path.lib_ui}",
    "${path.wrappers}/sandbox",
    "${path.tests}/sources",
    "${path.tests}/sources",
]


[command.collect_sources.platform_subfolders]
apple = "platform/apple"
macos = "platform/macos"
ios = "platform/ios"
android = "platform/android"
win32 = "platform/win32"


[command.cmake_gen.xcode]
generator = "Xcode"
architecture = ""
min_version = "3.20"
compile_options = [
    "-Wno-gnu-anonymous-struct",
    "-Wno-nested-anon-types",
]

[command.cmake_gen.visual_studio]
generator = ""
architecture = "x64" # Win32 or ARM64
min_version = "3.20"

[command.cmake_gen.ninja]
generator = "Ninja"
architecture = ""
min_version = "3.20"

[command.cmake_gen.makefiles]
generator = "Unix Makefiles"
architecture = ""
min_version = "3.20"
